<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MiniLauncher.Properties.Settings>
            <setting name="WotDirectory" serializeAs="String">
                <value>C:\games\World_of_Tanks</value>
            </setting>
            <setting name="Launch64bit" serializeAs="String">
                <value>False</value>
            </setting>
        </MiniLauncher.Properties.Settings>
    </userSettings>
</configuration>